[Unit]
Description=TON Prometheus Exporter
After=network.target

[Service]
User=ton_exporter
Group=ton_exporter
DynamicUser=true

ExecStart=/usr/local/bin/ton-exporter --port=4000 --api=v3 --rpc=http://127.0.0.1:8081/masterchainInfo

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target