[Unit]
Description=TON Prometheus Exporter
After=network.target

[Service]
User=ton_user
Group=ton_user

WorkingDirectory=/opt/ton-exporter

ExecStart=/opt/ton-exporter/ton-exporter --port=4000 --api=v2 --rpc=<>

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target